Repository typelevel/otel4s, pull requests merged in 2023-11, with the labels that each got.

#352 site: add `Tracing instrumentation` page
  docs/instrumentation/directory.conf
  docs/instrumentation/tracing.md
Labels: documentation

#349 Add `Tracer#currentSpanOrNoop`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/SpanBackendImpl.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/SpanRunner.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/TracerImpl.scala
  java/trace/src/test/scala/org/typelevel/otel4s/java/trace/TracerSuite.scala
Labels: tracing

#356 trace core: add `TraceState`
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/TraceStateBenchmark.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TraceState.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TraceStateSuite.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/WrappedSpanContext.scala
Labels: tracing

#354 sdk-common: add `InstrumentationScope`
  build.sbt
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/common/InstrumentationScopeSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingDecision.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingDecisionSuite.scala
Labels: tracing, sdk module

#348 site: add `Tracing context propagation` page
  docs/tracing-context-propagation.md
Labels: documentation

#353 site: add `Tracing - interop with Java-instrumented libraries` page
  build.sbt
  docs/customization/histogram-custom-buckets/README.md
  docs/instrumentation/directory.conf
  docs/instrumentation/tracing-java-interop.md
  examples/src/main/scala/PekkoHttpExample.scala
  project/plugins.sbt
Labels: documentation

#359 Make `SpanContext` sealed
  build.sbt
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanContextSuite.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/SpanBackendImpl.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/SpanBuilderImpl.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/SpanContextConversions.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/TracerImpl.scala
  java/trace/src/main/scala/org/typelevel/otel4s/java/trace/WrappedSpanContext.scala
  java/trace/src/test/scala/org/typelevel/otel4s/java/trace/SpanContextSuite.scala
Labels: tracing

#367 sdk-trace: add `LinkData`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Arbitraries.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Gens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/LinkDataSuite.scala
Labels: tracing, sdk module

#360 trace sdk: add `StatusData`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/StatusData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/StatusDataSuite.scala
Labels: tracing, sdk module

#369 sdk-trace: add `EventData`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Gens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/EventDataSuite.scala
Labels: tracing, sdk module

#370 sdk-trace: add `IdGenerator`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/IdGenerator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/IdGeneratorSuite.scala
Labels: tracing, sdk module

#372 sdk-trace: add `SpanData`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Gens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/LinkDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/SpanDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/StatusDataSuite.scala
Labels: tracing, sdk module

#374 sdk-trace: add `SpanProcessor`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanProcessor.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanRef.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanProcessorSuite.scala
Labels: tracing, sdk module

#373 sdk-trace: add `SpanExporter`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/SpanExporter.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/exporter/InMemorySpanExporter.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/exporter/SpanExporterSuite.scala
Labels: tracing, sdk module
