Repository typelevel/otel4s, pull requests merged in 2023-12, with the labels that each got.

#395 sdk-trace: add `SdkSpanBackend`
  build.sbt
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Gens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
Labels: tracing, sdk module

#391 sdk-common: add `Context`
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/context/ContextKeySuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/context/ContextSuite.scala
Labels: sdk module

#355 trace sdk: add samplers
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/Sampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingDecision.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResult.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSampler.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSamplerSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplerSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingDecisionSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResultSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/ShouldSampleInput.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSamplerSuite.scala
Labels: tracing, sdk module

#388 sdk-trace: add `SimpleSpanProcessor`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanRef.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessor.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessor.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessorSuite.scala
Labels: tracing, sdk module

#400 sdk-trace: add `SdkTraceScope`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkContextKeys.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraceScope.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTraceScopeSuite.scala
Labels: tracing, sdk module

#411 Move `Attributes` to core-common
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/AttributesBenchmark.scala
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/ArbitraryInstances.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributesLawTests.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributesProps.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/Resource.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/ArbitraryInstances.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/common/InstrumentationScopeSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/Sampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResult.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSampler.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Arbitraries.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/Gens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/EventDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/SamplingResultSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/ShouldSampleInput.scala
Labels: enhancement

#403 sdk-trace: add `SdkSpanBuilder`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/Sampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSampler.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/samplers/ShouldSampleInput.scala
Labels: tracing, sdk module
