Repository typelevel/otel4s, pull requests merged in 2024-08, with the labels that each got.

#720 sdk-common: use `CrossType.Full`
  .github/workflows/ci.yml
  .gitignore
  build.sbt
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/TelemetryResource.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureError.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/CommonConfigKeys.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigurationError.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/common/InstrumentationScope.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/Context.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/package.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/internal/ComponentRegistry.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/TelemetryResourceLawTests.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/TelemetryResourceProps.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/TelemetryResourceSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureErrorSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigurationErrorSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/common/InstrumentationScopeSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/context/ContextKeySuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/context/ContextSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/internal/ComponentRegistrySuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Arbitraries.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Cogens.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Gens.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/test/InMemoryConsole.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/test/NoopConsole.scala
Labels: sdk module

#731 sdk-trace: define `meta: InstrumentMeta[F]` as `val`
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
Labels: tracing, sdk module

#733 core-metrics: remove typed backend such as `{X}.LongBackend`, `{X}.DoubleBackend`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
Labels: metrics

#730 core-metrics: remove `Histogram.Meta` in favor of `InstrumentMeta`
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
Labels: metrics

#719 Trace SDK: introduce span limits support
  core/common/src/test/scala/org/typelevel/otel4s/scalacheck/Gens.scala
  sdk-exporter/trace/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoder.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpHttpSpanExporterSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansJsonCodecs.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoderSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanLimits.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/TracerProviderAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/EventData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LimitedData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/LinkData.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/SpanData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracesSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanLimitsSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigureSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/TracerProviderAutoConfigureSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/EventDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/LimitedDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/LinkDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/SpanDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/scalacheck/Cogens.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/scalacheck/Gens.scala
Labels: tracing, sdk module

#740 docs: add ecosystem page
  docs/directory.conf
  docs/ecosystem.md
Labels: documentation

#739 docs: add cross-service propagation example
  build.sbt
  docs/instrumentation/directory.conf
  docs/instrumentation/tracing-cross-service-propagation.md
  docs/instrumentation/tracing-java-interop.md
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
Labels: documentation

#741 docs: update OpenTelemetry configuration links
  docs/customization/histogram-custom-buckets/README.md
  docs/examples/grafana/README.md
  docs/examples/honeycomb/README.md
  docs/examples/jaeger-docker/README.md
  docs/index.md
  docs/instrumentation/metrics.md
  docs/instrumentation/tracing.md
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpHttpClientAutoConfigure.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/BatchSpanProcessorAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
Labels: documentation

#743 docs: add `SpanLimits` configuration section
  docs/sdk/configuration.md
Labels: documentation

#738 oteljava: TextMapPropagatorWrapper - add meaningful `toString`
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/JavaPropagatorWrappers.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/context/propagation/PropagatorConvertersSuite.scala
Labels: oteljava

#742 sdk-common: allow disabling resource detectors from the config
  docs/sdk/configuration.md
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMetricsSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracesSuite.scala
Labels: sdk module
