Repository typelevel/otel4s, pull requests merged in 2024-01, with the labels that each got.

#416 Add `Attributes#{updated,concat}`
  core/common/src/main/scala/org/typelevel/otel4s/Attributes.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributesProps.scala
Labels: enhancement

#390 sdk-trace: add `BatchSpanProcessor`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessor.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessorSuite.scala
Labels: tracing, sdk module

#438 Fix `SdkSpanBackendSuite`
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
Labels: sdk module

#435 Histogram builder: add `withExplicitBucketBoundaries`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BucketBoundaries.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BucketBoundariesSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
Labels: metrics

#418 sdk-trace: add `SdkTracer`, `SdkTracerBuilder`, `SdkTracerProvider`
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/context/package.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraceScope.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanRef.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SpanStorage.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSampler.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanNode.scala
Labels: tracing, sdk module

#436 metrics: use independent `Builder` trait for `Counter` and `UpDownCounter`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/SyncInstrumentBuilder.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
Labels: metrics

#449 metrics: make `Meter` API generic
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/MeasurementValue.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  docs/customization/histogram-custom-buckets/README.md
  docs/examples/grafana/README.md
  docs/examples/honeycomb/README.md
  examples/src/main/scala/HistogramBucketsExample.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterImpl.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/CounterSuite.scala
Labels: metrics

#453 metrics: make `Meter[F].observableGauge` generic
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/MeasurementValue.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableGauge.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableGaugeBuilderImpl.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Labels: metrics

#456 metrics: make `Meter[F].observableCounter` generic
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/MeasurementValue.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  examples/src/main/scala/ObservableExample.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableCounterBuilderImpl.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Labels: metrics

#457 metrics: make `Meter[F].observableUpDownCounter` generic
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/MeasurementValue.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableUpDownCounterBuilderImpl.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/ObservableSuite.scala
Labels: metrics

#458 metrics: remove `ObservableInstrumentBuilder`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableInstrumentBuilder.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/ObservableSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableDoubleImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableLongImpl.scala
Labels: metrics

#440 sdk-trace: add `B3Propagator`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/context/propagation/B3Propagator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/B3PropagatorSuite.scala
Labels: tracing, sdk module

#442 sdk-trace: add `W3CTraceContextPropagator`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanContext.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/propagation/W3CTraceContextPropagator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/propagation/W3CTraceContextPropagatorSuite.scala
Labels: tracing, sdk module

#460 sdk-trace: enable W3C propagators tests
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
Labels: tracing, sdk module

#461 sdk-trace: move `W3CTraceContextPropagator` to the `context.propagation` package
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CTraceContextPropagator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CTraceContextPropagatorSuite.scala
Labels: tracing, sdk module
