Repository typelevel/otel4s, pull requests merged in 2024-12, with the labels that each got.

#867 oteljava: refactor Metrics, Traces, and OtelJava API
  docs/oteljava/tracing-java-interop.md
  docs/tracing-context-propagation.md
  examples/src/main/scala/KleisliExample.scala
  examples/src/main/scala/PekkoHttpExample.scala
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/OtelJavaSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/Metrics.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/Traces.scala
Labels: documentation, tracing, metrics, module:oteljava

#871 docs: simplified docker setup with otel-lgtm image
  docs/examples/grafana/README.md
  docs/examples/grafana/dashboards/metrics-dashboard.json
  docs/examples/grafana/dashboards/traces-dashboard.json
Labels: documentation

#866 Update cats-effect to `3.6.0-RC1`, resolve compilation issues
  build.sbt
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanLimitsAutoConfigure.scala
Labels: tracing, metrics, module:sdk, breaking

#868 core-common: remove public `localForIOLocal` instance
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/AllInstances.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/LocalInstances.scala
  core/common/src/main/scala/org/typelevel/otel4s/instances/package.scala
  core/common/src/test/scala/org/typelevel/otel4s/context/LocalProviderSuite.scala
  core/common/src/test/scala/org/typelevel/otel4s/instances/LocalInstancesSuite.scala
  docs/tracing-context-propagation.md
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/TraceScopeImplSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTraceScopeSuite.scala
Labels: documentation, tracing, metrics, module:sdk, module:oteljava, breaking, module:core

#861 Add `IORuntimeMetrics`
  .github/workflows/ci.yml
  build.sbt
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BatchCallback.scala
  docs/instrumentation/directory.conf
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/js-native/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/js-native/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
  instrumentation/metrics/jvm/src/test/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsSuite.scala
  instrumentation/metrics/shared/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetrics.scala
Labels: documentation, tracing, metrics, module:sdk, breaking, module:core

#214 Add `IOLocalContextStorage`
  .github/workflows/ci.yml
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/context/LocalProvider.scala
  docs/oteljava/directory.conf
  docs/oteljava/tracing-context-propagation.md
  examples/src/main/scala/ContextStorageExample.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/Context.scala
  oteljava/context-storage/src/main/resources/META-INF/services/io.opentelemetry.context.ContextStorageProvider
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageProvider.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/IOLocalContextStorageSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
Labels: documentation, tracing, metrics, module:sdk, module:oteljava, module:core

#877 Minor documentation tweaks
  docs/oteljava/tracing-context-propagation.md
Labels: documentation

#878 docs: add Grafana dashboard link
  docs/instrumentation/grafana_dashboard.png
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  docs/oteljava/tracing-context-propagation.md
Labels: documentation
