Repository typelevel/otel4s, pull requests merged in 2024-03, with the labels that each got.

#531 OpenTelemetrySdk: rename `addExporterConfigurer` to `addSpanExporterConfigurer`
  examples/src/main/scala/SdkTracingExample.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
Labels: sdk module

#532 sdk: use `TelemetryResource.default` as an initial resource
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracesSuite.scala
Labels: sdk module

#545 Simplify `PropagatorConverters`
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/JavaPropagatorWrappers.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/PropagatorConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/convert/AsJavaConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/convert/AsJavaExtensions.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/convert/AsScalaConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/convert/AsScalaExtensions.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/context/propagation/convert/PropagatorConverters.scala
Labels: oteljava

#544 Add `AttributeConverters`
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/Conversions.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/InstrumentationScope.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/TelemetryResource.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/Conversions.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/AttributeConvertersSuite.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/ConversionsSuite.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/data/PointData.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableCounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableGaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableMeasurementImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableUpDownCounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
Labels: oteljava

#547 Enable publishing of the `sdk` modules
  .github/workflows/ci.yml
  build.sbt
Labels: sdk module

#541 sdk-metrics: add `AggregationTemporality`
  .github/workflows/ci.yml
  build.sbt
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/AggregationTemporality.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/data/AggregationTemporalitySuite.scala
Labels: metrics, sdk module

#533 site: add SDK section
  README.md
  build.sbt
  docs/directory.conf
  docs/index.md
  docs/sdk/configuration.md
  docs/sdk/directory.conf
  docs/sdk/overview.md
Labels: documentation

#564 Add `SpanOps.Res` extractor
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
  examples/src/main/scala/SdkTracingExample.scala
  examples/src/main/scala/TracingExample.scala
Labels: enhancement

#543 oteljava: add `OtelJava.noop`
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
Labels: oteljava

#558 core-metrics: add `Hash` and `Show` for `BucketBoundaries`
  build.sbt
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BucketBoundaries.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/BucketBoundariesSuite.scala
Labels: metrics

#555 Add `Tracer#currentSpanOrThrow`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
Labels: tracing

#561 sdk-metrics: add `ExemplarData`
  build.sbt
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarDataSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Arbitraries.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Cogens.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Gens.scala
Labels: metrics, sdk module

#562 sdk-metrics: add `InstrumentType`
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/InstrumentType.scala
Labels: metrics, sdk module
