Repository typelevel/otel4s, pull requests merged in 2024-02, with the labels that each got.

#445 sdk: add `AutoConfigure` and `Config`
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureError.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigurationError.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigSuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
Labels: sdk module

#462 sdk-trace: add `W3CBaggagePropagator`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CBaggagePropagator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CBaggagePropagatorSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CTraceContextPropagatorSuite.scala
Labels: tracing, sdk module

#463 sdk-trace: add `JaegerPropagator`
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/context/propagation/JaegerPropagator.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/JaegerPropagatorSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/context/propagation/W3CTraceContextPropagatorSuite.scala
Labels: tracing, sdk module

#472 sdk-common: `AutoConfigure` - use config keys in the error message
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureError.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureErrorSuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureSuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigSuite.scala
Labels: sdk module

#469 sdk-trace: add `ContextPropagatorsAutoConfigure`
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigure.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/AutoConfigureError.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigurationError.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigSuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/ConfigurationErrorSuite.scala
  sdk/common/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigure.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/ContextPropagatorsAutoConfigureSuite.scala
Labels: tracing, sdk module

#471 sdk-trace: add `SamplerAutoConfigure`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/ParentBasedSampler.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/samplers/TraceIdRatioBasedSampler.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigureSuite.scala
Labels: tracing, sdk module

#479 sdk-exporter: update opentelemetry proto to `1.1.0-alpha`
  build.sbt
  sdk-exporter/trace/shared/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoder.scala
  sdk-exporter/trace/shared/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansJsonCodecs.scala
  sdk-exporter/trace/shared/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoderSuite.scala
Labels: exporter module

#478 sdk-exporter-trace: add `OtlpHttpClientAutoConfigure`
  build.sbt
  sdk-exporter/common/.js/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.jvm/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.native/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/OtlpHttpClient.scala
  sdk-exporter/common/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpHttpClientAutoConfigure.scala
  sdk-exporter/common/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpHttpClientAutoConfigureSuite.scala
  sdk-exporter/trace/shared/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpHttpSpanExporter.scala
  sdk-exporter/trace/shared/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpHttpSpanExporterSuite.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
Labels: sdk module, exporter module

#485 sdk-exporter - add `BatchSpanProcessorAutoConfigure`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/BatchSpanProcessorAutoConfigure.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/BatchSpanProcessorAutoConfigureSuite.scala
Labels: tracing, sdk module

#484 sdk-exporter-trace - add `OtlpSpanExporterAutoConfigure`
  sdk-exporter/trace/shared/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/autoconfigure/OtlpSpanExporterAutoConfigure.scala
  sdk-exporter/trace/shared/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/autoconfigure/OtlpSpanExporterAutoConfigureSuite.scala
  sdk-exporter/trace/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpHttpSpanExporter.scala
Labels: sdk module, exporter module

#487 Add `sdk-trace-testkit` module
  .github/workflows/ci.yml
  build.sbt
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/context/package.scala
  sdk/trace-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/trace/InMemorySpanExporter.scala
  sdk/trace-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/trace/TracesTestkit.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/exporter/SpanExporter.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/SpanProcessor.scala
Labels: tracing, sdk module

#492 sdk-trace: make `SamplerAutoConfigure` extendable
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigure.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SamplerAutoConfigureSuite.scala
Labels: sdk module

#459 metrics: add `Meter[F].batchCallback`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/BatchCallback.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableGauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableMeasurement.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/ObservableSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableCounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableGaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableMeasurementImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/ObservableUpDownCounterBuilderImpl.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
Labels: metrics

#477 sdk-trace: add `SpanExportersAutoConfigure`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigure.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/SpanExportersAutoConfigureSuite.scala
Labels: sdk module

#497 oteljava - fix compilation issue
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
  oteljava/metrics/src/test/scala/org/typelevel/otel4s/oteljava/metrics/BatchCallbackSuite.scala
Labels: oteljava

#500 sdk-trace: add `SdkTraces`
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  sdk/common/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/CommonConfigKeys.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracesSuite.scala
Labels: tracing, sdk module

#494 Enhance core APIs to support `Attributes`
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/TracerMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/TracerMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Labels: enhancement

#490 Share `TracerSuite` between `oteljava` and `sdk` modules
  build.sbt
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanTree.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  oteljava/common-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/Conversions.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TraceScopeImpl.scala
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/TracerSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
Labels: tracing, sdk module, oteljava

#491 oteljava-testkit: add `OtelJavaTestkit`
  build.sbt
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Labels: oteljava

#521 trace: rename `Status` to `StatusCode`
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanFinalizer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/StatusCode.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/StatusCodeSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Arbitraries.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Cogens.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  scalafix/input/src/main/scala/example/V0_5_0Rewrites.scala
  scalafix/output/src/main/scala/example/V0_5_0Rewrites.scala
  scalafix/rules/src/main/scala/org/typelevel/otel4s/scalafix/V0_5_0Rewrites.scala
  sdk-exporter/trace/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoder.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpHttpSpanExporterSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansJsonCodecs.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/SpansProtoEncoderSuite.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/data/StatusData.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/data/StatusDataSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/scalacheck/Cogens.scala
Labels: tracing
