Repository typelevel/otel4s, pull requests merged in 2024-10, with the labels that each got.

#791 benchmarks: add `BatchSpanProcessor` benchmark
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/BatchSpanProcessorBenchmark.scala
  build.sbt
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessor.scala
Labels: sdk module, performance

#796 sdk-trace: use `MapRef` in `SpanStorage`
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/TraceBenchmark.scala
  build.sbt
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdkSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanStorage.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackendSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracesSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/autoconfigure/TracerProviderAutoConfigureSuite.scala
Labels: sdk module, performance

#799 Metrics SDK: implement Prometheus exporter
  .github/workflows/ci.yml
  build.sbt
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutes.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusMetricExporter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusTextRecord.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigure.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverterSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutesSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriterSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigureSuite.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricReadersAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/MetricExporter.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MetricReadersAutoConfigureSuite.scala
Labels: sdk module, sdk exporter module

#810 sdk-exporter-prometheus: unify `PrometheusWriter.Config` options
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusMetricExporter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigure.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriterSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigureSuite.scala
Labels: sdk module

#811 docs: add SDK Prometheus exporter configuration details
  build.sbt
  docs/sdk/configuration.md
  docs/sdk/directory.conf
  docs/sdk/prometheus-exporter.md
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutes.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusMetricExporter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutesSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigureSuite.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterProvider.scala
Labels: documentation

#817 core: add `apply` to `MeterProvider` and `TracerProvider`
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/MeterProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
Labels: tracing, metrics

#816 semconv-metrics: do not force a type of instrument
  buildscripts/semantic-convention/templates/registry/otel4s/metrics/SemanticMetrics.scala.j2
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ContainerExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DbExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/DnsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/FaasExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/GenAiExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HttpExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/HwExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/JvmExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/K8sExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/MessagingExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/NodejsExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/ProcessExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/RpcExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/SystemExperimentalMetrics.scala
  semconv/metrics/experimental/src/main/scala/org/typelevel/otel4s/semconv/experimental/metrics/V8jsExperimentalMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/HttpMetrics.scala
  semconv/metrics/stable/src/main/scala/org/typelevel/otel4s/semconv/metrics/JvmMetrics.scala
Labels: semconv, breaking

#801 sdk-common: `ComponentRegistry` - use `attributes` as a part of identity
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/internal/ComponentRegistry.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/internal/ComponentRegistrySuite.scala
Labels: sdk module

#795 core-trace: skip `addAttributes` when varargs are empty
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/TracerMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanMacro.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
Labels: tracing

#825 benchmarks: add metrics benchmark
  benchmarks/src/main/scala/org/typelevel/otel4s/benchmarks/MetricsBenchmark.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/storage/SynchronousStorage.scala
Labels: sdk module, performance
