Repository typelevel/otel4s, pull requests merged in 2025-06, with the labels that each got.

#979 Fix `KindTransformer` instances
  core/common/src/main/scala/org/typelevel/otel4s/KindTransformer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Labels: tracing, breaking, module:core

#977 Allocate noop meter instruments only once
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableCounter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/ObservableUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/NoopInstrumentBuilder.scala
Labels: metrics, module:sdk, module:core

#991 sdk-trace: use `TracerProvider.noop` when span processors aren't configured
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/processor/BatchSpanProcessor.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProviderSuite.scala
Labels: tracing, module:sdk

#990 trace: make SpanBuilder stack safe
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseSpanBuilderSuite.scala
  oteljava/all/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderSuite.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/trace/SpanBuilderSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
Labels: tracing, module:sdk, module:oteljava, module:core

#993 sdk: move `TraceContext` to sdk-common
  build.sbt
  core/trace/src/test/scala/org/typelevel/otel4s/trace/scalacheck/Gens.scala
  oteljava/trace/src/test/scala/org/typelevel/otel4s/oteljava/trace/SpanContextSuite.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/all/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/context/TraceContext.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/context/TraceContextSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/data/LimitedDataSuite.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Arbitraries.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Cogens.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/scalacheck/Gens.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterProvider.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/aggregation/Target.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigure.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/data/ExemplarData.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Exemplar.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoir.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ReservoirCell.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/Reservoirs.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exemplar/TraceContextLookup.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/AggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/ExplicitBucketHistogramAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/LastValueAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/aggregation/SumAggregatorSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/ExemplarFilterAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/autoconfigure/MeterProviderAutoConfigureSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarFilterSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exemplar/ExemplarReservoirSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Arbitraries.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Cogens.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/scalacheck/Gens.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
Labels: tracing, metrics, module:sdk, module:oteljava, breaking, module:core

#963 Dynamic instrument meta (enabled/disabled status)
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/common/src/test/scala/org/typelevel/otel4s/meta/InstrumentMetaSuite.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-2/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/CounterMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/GaugeMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/HistogramMacro.scala
  core/metrics/src/main/scala-3/org/typelevel/otel4s/metrics/UpDownCounterMacro.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Counter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Gauge.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Histogram.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/Meter.scala
  core/metrics/src/main/scala/org/typelevel/otel4s/metrics/UpDownCounter.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/CounterSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/HistogramSuite.scala
  core/metrics/src/test/scala/org/typelevel/otel4s/metrics/UpDownCounterSuite.scala
  core/trace/src/main/scala-2/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala-3/org/typelevel/otel4s/trace/SpanBuilderMacro.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseSpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanBuilderSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/SpanSuite.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/TracerSuite.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/CounterBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/GaugeBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/HistogramBuilderImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/MeterImpl.scala
  oteljava/metrics/src/main/scala/org/typelevel/otel4s/oteljava/metrics/UpDownCounterBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBackendImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/SpanBuilderImpl.scala
  oteljava/trace/src/main/scala/org/typelevel/otel4s/oteljava/trace/TracerImpl.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkGauge.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkHistogram.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMeter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkUpDownCounter.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/internal/MeterSharedState.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/NoopInstrumentBuilderSuite.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/SdkMeterSuite.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBackend.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilder.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracer.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTracerProvider.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/TracerSharedState.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/SdkSpanBuilderSuite.scala
  sdk/trace/src/test/scala/org/typelevel/otel4s/sdk/trace/processor/SimpleSpanProcessorSuite.scala
Labels: tracing, metrics, module:sdk, module:oteljava, module:core

#997 docs: fix `expoter` -> `exporter`
  docs/sdk/configuration.md
Labels: documentation

#998 sdk-metrics: flush PeriodicMetricReader upon finalization
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/exporter/PeriodicMetricReader.scala
  sdk/metrics/src/test/scala/org/typelevel/otel4s/sdk/metrics/exporter/PeriodicMetricReaderSuite.scala
Labels: bug, metrics, module:sdk
