Repository typelevel/otel4s, pull requests merged in 2025-08, with the labels that each got.

#1018 core-logs: add LogRecordBuilder
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
Labels: module:core, logs

#1033 Use Resource.fromAutoCloseable in docs
  docs/oteljava/metrics-jvm-runtime.md
Labels: documentation

#1028 oteljava: add `TracesTestkit#resetSpans`
  build.sbt
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Labels: documentation, tracing, module:oteljava, breaking

#1042 sdk-exporter: update OTLP exporter docs
  sdk-exporter/metrics/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporter.scala
  sdk-exporter/trace/src/main/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpSpanExporter.scala
Labels: documentation, tracing, metrics, module:sdk:exporter

#1044 docs: add otel4s Java Agent example
  build.sbt
  docs/ecosystem.md
  docs/oteljava/agent.md
  docs/oteljava/directory.conf
  docs/oteljava/metrics-jvm-runtime.md
  docs/oteljava/tracing-context-propagation.md
Labels: documentation

#1002 Rename most `mapK` methods to `liftTo`
  build.sbt
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/main/scala/org/typelevel/otel4s/meta/InstrumentMeta.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LogRecordBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/Logger.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerBuilder.scala
  core/logs/src/main/scala/org/typelevel/otel4s/logs/LoggerProvider.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Span.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/SpanOps.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/Tracer.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerProvider.scala
  core/trace/src/test/scala/org/typelevel/otel4s/trace/BaseTracerSuite.scala
Labels: tracing, module:core, logs
