Repository typelevel/otel4s, pull requests merged in 2025-01, with the labels that each got.

#880 Use `MapRef.apply`
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SpanStorage.scala
Labels: tracing, module:sdk

#879 oteljava: move `IOLocalContextStorage` to the `context` package
  docs/oteljava/tracing-context-propagation.md
  examples/src/main/scala/ContextStorageExample.scala
  oteljava/context-storage/src/main/resources/META-INF/services/io.opentelemetry.context.ContextStorageProvider
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageProvider.scala
  oteljava/context-storage/src/test/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorageSuite.scala
Labels: documentation, module:oteljava

#882 Use `SystemProperties`
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/jvm-native/src/main/scala/org/typelevel/otel4s/sdk/resource/OSDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessDetectorPlatform.scala
  sdk/common/jvm/src/main/scala/org/typelevel/otel4s/sdk/resource/ProcessRuntimeDetectorPlatform.scala
  sdk/common/native/src/main/scala/org/typelevel/otel4s/sdk/resource/HostDetectorPlatform.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/resource/TelemetryResourceDetector.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
Labels: tracing, metrics, module:sdk

#883 sdk: propagate `Env`
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/Config.scala
  sdk/metrics/src/main/scala/org/typelevel/otel4s/sdk/metrics/SdkMetrics.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkTraces.scala
Labels: tracing, metrics, module:sdk

#884 Update fs2 to `3.12.0-RC1`, remove `epollcat`
  build.sbt
  flake.nix
  sdk-exporter/common/.js/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.jvm/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/.native/src/test/scala/org/typelevel/otel4s/sdk/exporter/SuiteRuntimePlatform.scala
  sdk-exporter/common/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/autoconfigure/OtlpClientAutoConfigureSuite.scala
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/OtlpMetricExporterSuite.scala
  sdk-exporter/metrics/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/metrics/autoconfigure/OtlpMetricExporterAutoConfigureSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusHttpRoutesSuite.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/autoconfigure/PrometheusMetricExporterAutoConfigureSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/OtlpSpanExporterSuite.scala
  sdk-exporter/trace/src/test/scala/org/typelevel/otel4s/sdk/exporter/otlp/trace/autoconfigure/OtlpSpanExporterAutoConfigureSuite.scala
Labels: tracing, metrics, module:sdk:exporter, dependencies

#889 sdk-common: rename `otel.experimental.resource.disabled.keys` to `otel.resource.disabled.keys`
  docs/sdk/configuration.md
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigure.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/autoconfigure/TelemetryResourceAutoConfigureSuite.scala
Labels: documentation, module:sdk

#901 Update ecosystem.md: mention otel4s-doobie
  docs/ecosystem.md
Labels: documentation

#904 Fix copy/paste errors in docs
  core/trace/src/main/scala/org/typelevel/otel4s/trace/TracerBuilder.scala
Labels: documentation, tracing, module:core
