Repository typelevel/otel4s, pull requests merged in 2025-09, with the labels that each got.

#1040 sdk-logs: add `LogRecordData`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/data/LogRecordData.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/data/LogRecordDataSuite.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Arbitraries.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Cogens.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/scalacheck/Gens.scala
Labels: module:sdk, logs

#1064 oteljava-logs-test: add `LogsTestkit`
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/FromLogRecordData.scala
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
Labels: module:oteljava, logs

#1068 sdk-logs: Evaluate multiple processors sequentially
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/LogRecordProcessor.scala
Labels: module:sdk, logs

#1066 sdk-logs: Add `BatchLogRecordProcessor`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessor.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/processor/BatchLogRecordProcessorSuite.scala
Labels: module:sdk, logs

#1069 sdk-logs: Add `SdkLogRecordBuilder`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilder.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/SdkLogRecordBuilderSuite.scala
Labels: module:sdk, logs

#1071 sdk-logs: Add `LogRecordExportersAutoConfigure`
  sdk/logs/src/main/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordExportersAutoConfigure.scala
  sdk/logs/src/test/scala/org/typelevel/otel4s/sdk/logs/autoconfigure/LogRecordExportersAutoConfigureSuite.scala
Labels: module:sdk, logs

#1070 sdk-logs-testkit: Add `LogsTestkit`
  .github/workflows/ci.yml
  build.sbt
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/logs/src/main/scala/org/typelevel/otel4s/oteljava/logs/Logs.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/InMemoryLogRecordExporter.scala
  sdk/logs-testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/logs/LogsTestkit.scala
Labels: module:sdk, module:oteljava, logs

#996 unwrap IOLocalContextStorage from SettableContextStorageProvider in t…
  .github/workflows/ci.yml
  build.sbt
  docs/oteljava/testkit.md
  docs/oteljava/tracing-context-propagation.md
  oteljava/context-storage-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorage.scala
  oteljava/context-storage-testkit/src/test/scala/org/typelevel/otel4s/oteljava/testkit/context/IOLocalTestContextStorageSuite.scala
  oteljava/context-storage/src/main/scala/org/typelevel/otel4s/oteljava/context/IOLocalContextStorage.scala
Labels: documentation, module:oteljava

#1081 add fromInMemory on Testkits
  build.sbt
  docs/oteljava/testkit.md
  oteljava/logs-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/logs/LogsTestkit.scala
  oteljava/metrics-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/metrics/MetricsTestkit.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  oteljava/trace-testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/trace/TracesTestkit.scala
Labels: documentation, tracing, metrics, module:oteljava, logs

#1087 Correct disabled TimerHeapConfig in docs
  docs/instrumentation/metrics-cats-effect-io-runtime.md
  instrumentation/metrics/jvm/src/main/scala/org/typelevel/otel4s/instrumentation/ce/IORuntimeMetricsPlatform.scala
Labels: documentation, metrics

#1089 Metrics SDK: Ignore empty and annotations unit
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverter.scala
  sdk-exporter/prometheus/src/main/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusWriter.scala
  sdk-exporter/prometheus/src/test/scala/org/typelevel/otel4s/sdk/exporter/prometheus/PrometheusConverterSuite.scala
Labels: module:sdk:exporter
