Repository typelevel/otel4s, pull requests merged in 2025-02, with the labels that each got.

#907 Add implicit `Otel4s#localContext`
  core/all/src/main/scala/org/typelevel/otel4s/Otel4s.scala
Labels: enhancement, module:core

#906 core-common: redefine `Attribute` as a sealed trait
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
Labels: module:oteljava, breaking, module:core

#908 Add `BaggageManager` utility
  build.sbt
  core/all/src/main/scala/org/typelevel/otel4s/Otel4s.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/Baggage.scala
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  core/common/src/test/scala/org/typelevel/otel4s/baggage/BaggageManagerSuite.scala
  oteljava/all/src/main/scala/org/typelevel/otel4s/oteljava/OtelJava.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/AttributeConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageConverters.scala
  oteljava/common/src/main/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImpl.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/baggage/BaggageConvertersSuite.scala
  oteljava/common/src/test/scala/org/typelevel/otel4s/oteljava/baggage/BaggageManagerImplSuite.scala
  oteljava/testkit/src/main/scala/org/typelevel/otel4s/oteljava/testkit/OtelJavaTestkit.scala
  sdk/all/src/main/scala/org/typelevel/otel4s/sdk/OpenTelemetrySdk.scala
  sdk/common/shared/src/main/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManager.scala
  sdk/common/shared/src/test/scala/org/typelevel/otel4s/sdk/baggage/SdkBaggageManagerSuite.scala
  sdk/testkit/src/main/scala/org/typelevel/otel4s/sdk/testkit/OpenTelemetrySdkTestkit.scala
  sdk/trace/src/main/scala/org/typelevel/otel4s/sdk/trace/SdkContextKeys.scala
Labels: enhancement, tracing, module:sdk, module:oteljava, breaking, module:core

#915 docs: add `Baggage` example
  core/common/src/main/scala/org/typelevel/otel4s/baggage/BaggageManager.scala
  docs/instrumentation/baggage.md
  docs/instrumentation/directory.conf
Labels: documentation, module:core

#911 core-common: add `Attribute.from`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/main/scala/org/typelevel/otel4s/AttributeKey.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Labels: module:core

#916 core-common: add `Attribute.Make`
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Labels: module:core

#926 Add implicit `Attribute.From` instances
  core/common/src/main/scala/org/typelevel/otel4s/Attribute.scala
  core/common/src/test/scala/org/typelevel/otel4s/AttributeSuite.scala
Labels: module:core
